* {
  box-model: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vollkorn';
  font-weight: 900;
}

.wrapper {
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
}