* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
  font-size: 18px;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vollkorn';
  font-weight: 900;
}

a, a:visited {
  color: #000;
  border-bottom; 3px solid yellow;
  transition: all ease 180ms;
}

a:hover {
  color: yellow;
  border-bottom: 0;
}

.prelude {
  font-size: 22px;
  font-weight: 300;
}

.wrapper {
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
}

.logo {
  font-size: 72px;
  line-height: 0.75;
  margin: 100px 0 15px 0;
  text-align: left;
}

section.wrapper {
  margin-bottom: 50px;
}

footer {
  font-size: 16px;
  color: #7777;
  text-align: center;
  font-style: italic;
  margin-bottom: 50px;
}