---
import '../styles/global.css'
import Logo from '../components/Logo';
import Landingpage from '../components/Landingpage';
---

<html lang="en">
	<head>
		<!-- Fathom - beautiful, simple website analytics -->
		<script src="https://cdn.usefathom.com/script.js" data-site="NNZPUVTM" defer></script>
		<!-- / Fathom -->
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<title>Better Each Day</title>
    	<meta name="description" content="We are product design consultants that can help you shape a solution for any problem. We don't believe in flashy marketing, instead we use a practical process that helps you get a better understanding of your customers. Creating great design isn't a single step, but an approach to solving problems. Don't worry, we can help you do that.">
    	<link rel="index" href="https://bettereachday.co/">
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Vollkorn:700,900" rel="stylesheet">
	</head>
	<body>
		<Landingpage client:load />
	</body>
	</html>
	  